.git
.github
.sixth
.docker
.env
.env.*
!.env.example
!.env.production.example
node_modules
vendor
public/build
public/hot
public/storage
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
!storage/app/.gitignore
!storage/app/private/.gitignore
!storage/app/public/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/cache/data/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
.phpunit.result.cache
*.log
*.zip
Thumbs.db
